// colors variable
$color-ffffff:#ffffff;
$color-000000:#000000;
$color-777777:#777777;
$color-f7f7f9:#f7f7f9;
$color-e61d2b:#e61d2b;
$color-eeeeee:#eeeeee;
$color-006fba:#006fba;
$color-1e2739:#1e2739;
$color-e5e5e5:#e5e5e5;
$color-f9f9f9:#f9f9f9;
